<%- include('_header') %>
<body class="body">
    <div class="wrapper">
        <nav class="sidebar">
    <div class="container2">
        <div class="card">
            <i class="fa-sharp fa-solid fa-microchip fa-lg"></i>
            <ul class="list-unstyled"> <!-- ใส่ ul เพื่อลดการทับกันของไอคอนและลิงค์ -->
                <li><a href="/device">Device21</a></li>
            </ul>
        </div>
        <div class="card">
            <i class="fa-sharp fa-solid fa-globe fa-lg"></i>
            <ul class="list-unstyled"> <!-- ใส่ ul เพื่อลดการทับกันของไอคอนและลิงค์ -->
                <li><a href="/site">Site21</a></li>
            </ul>
        </div>
        <div class="card">
            <i class="fa-sharp fa-solid fa-cloud-upload fa-lg"></i>
            <ul class="list-unstyled"> <!-- ใส่ ul เพื่อลดการทับกันของไอคอนและลิงค์ -->
                <li><a href="/deploy">Deploy21</a></li>
            </ul>
        </div>
    </div>
</body>
