<!DOCTYPE html>
<html lang="en">
<head>
    <title>Group2</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top bg-primary">
        <a href="/" class="navbar-brand">GROP2 MENU</a>
        
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Peeraphan
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/peeraphan/list">Peeraphan</a></li>
                <li><a class="dropdown-item" href="/boonpun/list">Boonpun</a></li>
            </ul>
        </div>
        
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Theeraphat
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="/theeraphat/list">Theeraphat</a></li>
                <li><a class="dropdown-item" href="/saikhamfoo/list">saikhamfoo</a></li>
            </ul>
        </div>
        
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                Chanchai
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                <li><a class="dropdown-item" href="/chanchai/list">Chanchai</a></li>
                <li><a class="dropdown-item" href="/srichan/list">Srichan</a></li>
            </ul>
        </div>
        
    </nav>
    <br>
    <br>
    <br>
    
    <% if(session.success==false){%>
        <% for(var i=0;i<session.errors.errors.length;i++){%>
        <div class="alert alert-danger" role="alert">
            <%=session.errors.errors[i]["msg"]%>
        </div>
        <%}session.success=null;}%>
        <% if(session.success==true){%>
            <div class="alert alert-success" role="alert">
                <%=session.topic%>
            </div>
            <%}session.success=null;%>