<%- include("_header"); -%>
<br>
<br>
<h1 align="center">เพิ่มข้อมูล</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <form action="/theeraphat/add" method="post" class="w-50">
                <div class="form-group">
                    <label for="student28">Student</label>
                    <input type="text" name="student28" placeholder="Student" class="form-control">
                </div>
                <br>
                <div class="form-group">
                    <label for="telephone28">Telephone</label>
                    <input type="text" name="telephone28" placeholder="Telephone" class="form-control">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">บันทึก</button>
                <a href="/theeraphat/list" class="btn btn-primary">ย้อนกลับ</a>
            </form>
        </div>
    </div>
</div>
<%- include("_footer"); -%>