peeraphan boonpun
<!DOCTYPE html>
<html> 
<head>
    <title>Document</title>
</head>
<body>
    <h1>This is a Heading Profile</h1>
    <h2> Name : <%=person%> </h2>
    <h3> job : <%=user.job%> </h3>
    <h4> age : <%=user.age%> </h4>
    <h5> name : <%=user.name%> </h5>
</body>
</html>