<%- include("_header"); -%>

    <body class="body">
        <div class="container mt-5">
            <h3 class="text-center" style="color: black;">t009</h3>
            <div class="row justify-content-center mt-4">
                <div class="col-md-6">
                    <form action="/t009/add" method="post">
                    </div>
                    <div class="form-group">
                        <label for="tn09">tn09</label>
                        <input type="date" name="tn09" id="tm09" placeholder="tn09" class="form-control">
                    </div>
                        <div class="form-group">
                            <input type="text" id="tm09" name="to09" placeholder="to09" class="form-control">
                        </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                </form>
                <a href="/t009" class="btn btn-secondary">Back</a>
            </div>
        </div>
        </div>
    </body>
    <%- include("_footer"); -%>