<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>651998009</title>
    <link   rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.css">
  </head>
  <body>
    <nav class="navbar navdar-dark bg-dark">
        <a href="/" class="navbar-brand"> CRUD NodeJS MySQL</a>
    </nav>
  </body>
</html>