<%- include("_header"); -%>
<h1> login </h1>
<form action="/" method="post">
    Username <input type="username" name="username" class="form-control">
    Password <input type="password" name="password" class="form-control">

    <button type="submit" class="btn btn-warning">Login</button>
</form>

<%- include("_footer"); -%>