<!DOCTYPE html>
<html>
<head>
    <meta>
    <meta>
    <title>Page profile</title>
</head>
<body>
    <%- include("nav") %>
    <h1>This is a profile</h1>
    <h2>name :<%=person%></p>
    
</body>
</html>