<!DOCTYPE html>
<html>
<head>
    <meta>
    <meta>
    <title>student form</title>
</head>
<body>
    <h1>Student Form</h1>
<form action="/studentData" method="post">
    FIRST NAME : <input type="text" name="fname" value="">
    LAST NAME : <input type="text" name="lname" value="">
    <input type="submit" value="send">
</form>
</body>
</html>   