
<!DOCTYPE html>
<html>
<head>
<title>page form title</title>
</head>
<body>
    <h1>this is teacher heading</h1>
    <h2>name : <%=teacher.name%></h2>
    <h2>mobile : <%=teacher.mobile%></h2>
    <h2>age : <%=teacher.age%></h2>
</body>
</html>