<!DOCTYPE html>
<html>
<head>
<title>teacher form title</title>
</head>
<body>
    <h1>teacher form </h1>
    <form action="/teacherdata"method='post'>
        name :<input type="text" name="name" value="">
        mobile :<input type="text" name="mobile" value="">
        age :<input type="text" name="age" value="">
        <input type="submit" value="send">
    </form>
</body>
</html>