<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome Gallery</h1>
    
    <form action="/list" method="get">
        <button type="submit">Go to Image List</button>
    </form>

    <form action="/images" method="get">
        <button type="submit">Go to Image Gallery</button>
    </form>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <h1>Gallery</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/list">Image List</a></li>
                <li><a href="/images">Image Upload</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="home-content">
            <h2>Welcome to Gallery</h2>
            <div class="button-container">
                <div class="button-box">
                    <a href="/list" class="button"><i class="fas fa-list icon"></i>Image List</a>
                </div>
                <div class="button-box">
                    <a href="/images" class="button"><i class="fas fa-images icon"></i>Image Upload</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

